/*
-----------------------------------------------------
                        General
-----------------------------------------------------
*/
    html,body{
        margin:0;
        padding:0;
    }
    body{
        position: relative;
    }
    body>div:first-child{ width:100%; }
    .block{ height:100vh; }
    .buffer{
        height:auto !important;
        padding: 0;
        padding:25% 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    .buffer p{
        text-align: center;
        position: absolute;
        font-family: 'Raleway';
        font-weight: 100;
        font-size: 92px;
        color: #fff;
        top:40%;
        text-transform: uppercase;;
        width:100%;
    }
    .buffer .overlay{
        position: absolute;
        height:100%;
        width:100%;
        top:0;
    }
    #coding>.buffer{ background-image: url('../img/coding_bck.jpg'); }
    #robotics>.buffer{ background-image: url('../img/robotics_bck.jpg'); }
    #gaming>.buffer{ background-image: url('../img/gaming_bck.jpg'); }
    #foodforfun>.buffer{ background-image: url('../img/food_bck.jpg'); }
    #infocus>.buffer{ background-image: url('../img/infocus_bck.jpg'); }
    #newron>.buffer{ background-image: url('../img/newron_bck.jpg'); }
    #bridge>.buffer{ background-image: url('../img/bridge_bck.jpg'); }
    #contacts>.buffer{ background-image: url('../img/contacts_bck.jpg'); }
    #coding .overlay,
    #foodforfun .overlay,
    #bridge .overlay{
        background: rgba(161, 55, 76, 0.6);
    }
    #robotics .overlay,
    #infocus .overlay{
        background: rgba(80, 191, 173, 0.6);
    }
    #gaming .overlay,
    #newron .overlay{
        background: rgba(227, 59, 59, 0.6);
    }
    #contacts .overlay{
        background: rgba(2, 136, 209, 0.6);
    }
    .parallax-block{
        background-color: #222;
        overflow-y: hidden;
        padding-bottom:20px;
    }
    .parallax-block>div:nth-child(2){ height:97vh;}
    .parallax-block>div:nth-child(2)>div:nth-child(2){ margin-top: 10%;}
    .heading h2{
        color:#fff;
        text-align: center;
        font-family: 'Lato';
        font-weight: 300;
        font-size: 42px;
        text-transform: uppercase;
    }
    .circle{
        background:rgba(0,0,0,0.5);
        border-radius:50%;
        margin:15px 0;
        width:100%;
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        padding:25px;
        font-size: 150px;
        cursor: pointer;
    }
    .circle p{
        font-size: 130px !important;
        color:inherit !important;
    }
    .circle:hover{
        transform:rotate(360deg);
        transition-duration:1s;
    }
    #coding .circle,
    #foodforfun .circle,
    #bridge .circle{
        border: 5px solid rgb(161, 55, 76);
        color:rgb(161, 55, 76);
    }
    #robotics .circle,
    #infocus .circle{
        border: 5px solid rgb(80, 191, 173);
        color:rgb(80, 191, 173);
    }
    #gaming .circle,
    #newron .circle{
        border: 5px solid rgb(227, 59, 59);
        color:rgb(227, 59, 59);
    }

    .event p{
        text-align: center;
        font-size: 20px;
        color:#fff;
        font-family: 'Lato';
        font-weight: 300;
        text-transform: uppercase;
    }
    .nxt-btn{
        background:rgba(0,0,0,0.7);
        position:absolute;
        display: block;
        left:48%;
        bottom:20%;
        border-radius: 50%;
        padding:20px 25px;
    }
    /*#bridge>div:nth-child(2){ height:92vh;}*/


    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        .title h2{ font-size: 4em; }
        .buffer p{
            font-size: 52px;
            top:30%;
        }
        #foodforfun .buffer p,
        #bridge .buffer p{ top:15%;}
        #robotics .event:nth-child(3),
        #foodforfun .event:nth-child(3),
        #bridge .event:first-child{
            margin-left:25%;
        }
        .circle{font-size: 50px; padding:18px; }

    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        .title h2{ font-size: 4em; }
        .parallax-block{
            overflow-x:hidden;
        }
        .buffer p{ top:35%;}
        #bridge .buffer p{ top:15%;}
        #robotics .event:nth-child(3),
        #foodforfun .event:nth-child(3),
        #bridge .event:first-child{
            margin-left:25%;
        }
    }
    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        .title h2{ font-size: 8em; }
        .parallax-block{
            overflow-y:hidden;
        }
        .parallax-block>div:nth-child(2)>div:nth-child(2){ margin-top: 0;}
        #robotics .event:first-child,
        #foodforfun .event:first-child{
            margin-left:12.5%;
        }
        #infocus .event:first-child,
        #newron .event:first-child{
            margin-left:25%;
        }
        #bridge .event:first-child{
            margin-left:37.5%;
        }
    }
    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        .title h2{ font-size: 8em; }
        .parallax-block{
            overflow-y:hidden;
        }
        #robotics .event:first-child,
        #foodforfun .event:first-child{
            margin-left:12.5%;
        }
        #infocus .event:first-child,
        #newron .event:first-child{
            margin-left:25%;
        }
        #bridge .event:first-child{
            margin-left:37.5%;
        }

    }


/*
-----------------------------------------------------
                        Top
-----------------------------------------------------
*/
    #top{
        background:url('../img/back2.png') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }


/*
-----------------------------------------------------
                        Footer
----------------------------------------------------
*/
    footer{
        background:#333;
        position: fixed;
        bottom:0;
        left:15px;
        width:100%;
        z-index: 3;
    }
    #social a{
        font-size: 22px;
        color:#fff;
    }
    #social i{ margin:0 5px; }
    #social i:first-child{ margin-left:15px;}
    .facebook:hover i{ color:#43609C; }
    .instagram:hover i{ color:#9E7458; }
    .youtube:hover i{ color:#E62117; }
    .twitter:hover i{ color: #4099ff; }
    #love{
        color:#f5f5f5;
        font-family: 'Lato';
        font-weight: 400;
        margin:5px;
    }
    #love a{ color:#f5f5f5; }
    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {
        #social{ margin-left:6%; }
        #love{ margin-left:10px; }
    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {
        #social{ margin-left:16%; }
        #love{ margin-left:20px; }
    }
    /* tablets/desktops and up ----------- */
    @media (min-width: 992px) and (max-width: 1199px) {
        #social{ margin-left:30.5%; }
        #love{ margin-left:10px; }
    }
    /* large desktops and up ----------- */
    @media screen and (min-width: 1200px) {
        #social{ margin-left:29%; }
        #love{ margin-left:10px; }
    }

/*
-----------------------------------------------------
                    Menu
-----------------------------------------------------
*/
    #nav-menu{
        position: fixed;
        bottom:40px;
        right:-80vw;
        z-index: 3;
    }
    #hidden_menu{
        display:none;
    }
    #nav-menu .btn{
        color:#fff;
        padding:12px;
        border-radius: 50%;
        display: inline-block;
        z-index: 2;
        margin-top:10px;
        box-shadow: 5px 5px 10px #212121;
        transition: all 0.3s ease-in-out 0.3s;
        height:53px;
        width:53px;
    }
    #nav-menu .btn:hover{
        color:#fff;
        height:55px;
        width:55px;
        transition: all 0.3s ease-in-out 0.3s;
    }
    #nav-menu .btn>i{
        font-size: 26px;
        /*text-shadow: 2px 3px 3px #212121;*/
    }
    #contact_btn{
        background-color:#0288d1;
    }
    #contact_btn>i{
        padding:0 3px;
    }
    #bridge_btn{
        display: inline-block;
    }
    #coding_btn,
    #foodforfun_btn,
    #bridge_btn{
        background-color: rgb(161, 55, 76);
    }
    #robotics_btn,
    #infocus_btn{
        background-color: rgb(80, 191, 173);
    }
    #gaming_btn,
    #newron_btn{
        background-color: rgb(227, 59, 59);
    }
    #foodforfun_btn>i{
        padding:0 3px;
    }
    #newron_btn>i{
        padding:0 4px;
    }
    #menu_btn{
        display: inline-block;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #212121;
        background-color: #333;
        z-index: 2;
        padding:20px;
    }
    #menu_btn>i{
        position: relative;
        font-size: 32px;
        color:#fff;
        text-shadow: 2px 3px 3px #212121;
        padding:0 3px;
    }
    @media screen and (max-width: 767px) {
        #nav-menu{
            right:0;
            bottom:30px;
        }
        #nav-menu .btn{
            padding:8px;
        }
        #nav-menu .btn:hover{
            padding:8px;
        }
        #nav-menu .btn>i{
            font-size: 18px;
        }
        #menu_btn>i{
            font-size: 24px !important;
        }
        #menu_btn{
            padding:12px !important;
        }
    }

/*
-----------------------------------------------------
                        Logos
-----------------------------------------------------
*/
    #logo-bar{
        display: inline-block;
        margin-top:20px;
        margin-left:30px;
    }
    .logo-circ{
        height:50px;
        width:50px;
        border-radius: 50%;
        z-index: 3;
        /*box-shadow: 5px 5px 10px #212121;*/
    }
    #ti-logo,
    #gx-logo,
    #edge-logo{
        float: left;
        margin:0 10px;
    }

/*
-----------------------------------------------------
                        Contact
-----------------------------------------------------
*/
    .contact-block-contact-1{
        text-align: left;
    }
    .contact-block-contact-1 i{
        margin-left: 10px;
    }
    .contact-block-contact-2{
        text-align: right;
    }
    .contact-block-contact-2 i{
        margin-right: 10px;
    }
    .contact-block-title{
        text-align: center;
        text-transform: uppercase;
        font-size:1.5em;
        font-family: 'Raleway';
        background: #eee;
        margin-bottom: 10px;
    }
    .central-contact-block-title{
        background: #222;
        color: white;
    }
    #contacts-block .row .col-md-3{
        background: white;
        padding: 20px;
        font-family: 'Lato';
        box-shadow: 1px 1px 1px 1px #060606 inset;
    }
    .contact-block-contact-name i.fa-facebook{
        color: #425F9C;
    }
    .contact-block-contact-name{
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    .contact-block-contact-phone{
        font-size:0.85em;
    }
